/cli/*-debug.log
/cli/*-error.log
/cli/.nyc_output
/cli/dist
/cli/lib
/cli/package-lock.json
/cli/tmp
/cli/cdc
/cli/yarn.lock
/cli/node_modules
/cli/oclif.manifest.json
/cli/flow.json

/web/node_modules
/web/package-lock.json
/web/yarn.lock
/cli/flow.json

/packages/interaction-template-generators/node_modules
/packages/interaction-template-generators/package-lock.json

**/.DS_Store
